.bcg-icon-advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.icon-advantage {}

.advantages-list {
    display: flex;
}

.advantage-item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    
    &:nth-child(4n) {
    margin-right: 0;
    }
}

.advantage-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color-teme-light);

}

.advantage-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}